{% extends 'AnketaBundle::layout.html.twig' %}
{% block title %}{{ section.title }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(section.activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    <h1>{{ section.title }}</h1>
    {% if isteacher %}
        {{ trans('statistics.fafRestriction.teacher', {'%url%': path('statistics_list_my_subjects', {'season_slug': section.season.slug}) }) }}
    {% else %}
        {{ trans('statistics.fafRestriction.noteacher') }}
    {% endif %}
{% endblock %}
