{% extends 'AnketaBundle::layout.html.twig' %}

{% block title %}{{ title|default("") }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    {% if title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}
    {% for category_title, list in items %}
        {% if category_title is not empty %}
            <h3>{{ category_title }}</h3>
        {% endif %}
        <ul class="category-listing {{ class|default('') }}">
        {% if people is not defined %}
            {% for item_text, item_href in list %}
                <li><a href="{{ item_href }}">{{ item_text }}</a> {% if access_links is defined %}(<a class="autorizedPeopleLink" href="{{ access_links[item_text]  }}">kto iný vidí tento report?</a>){% endif %}</li>
            {% endfor %}
        {% endif %}

        {% if people is defined %}
            {% for person in list %}
                <li>{{ person.displayName }} ({{ person.id }})</li>
            {% endfor %}
        {% endif %}
        </ul>
    {% endfor %}
{% endblock %}
