{% extends 'AnketaBundle::layout.html.twig' %}
{% block title %}Výsledky {{ season.description }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    <h1>{{ trans('statistics.seasonReport.vysledky') }} {{ season.description }}</h1>
    <p>
       {{ trans('statistics.seasonReport.pocet_hlasujucich', { '%season%': season.description, '%voters%': voters, '%total%': season.studentCount }) }}
       {{ trans('statistics.seasonReport.celkova_ucast') }}
       <strong>{{ "%.0f%%" | format(voteProgress.percentDone) }}</strong>.
    </p>
    <p>{{ trans('statistics.seasonReport.k_vysledkom_cez_menu') }}</p>
{% endblock %}
