{% extends 'AnketaBundle::layout.html.twig' %}
{% block title %}{{ section.title }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(section.activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    <h1>{{ section.title }}</h1>
    <p>
    {% if isTeacher is defined and isTeacher %}
        {{ trans('statistics.teacherOptedOut.me') }}
    {% elseif section.teacher %}
        {{ trans('statistics.teacherOptedOut.teacher') }}
    {% elseif hide_if_all %}
        {{ trans('statistics.teacherOptedOut.all') }}
    {% else %}
        {{ trans('statistics.teacherOptedOut.any') }}
    {% endif %}
    </p>
{% endblock %}
