{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {{ menu.statistics.render([section.season.id, 'my_comments'])|raw }}
{% endblock %}

{% block content %}
<h1>{{ trans('response.delete.zmazat_komentar') }}</h1>
<p>{{ trans('response.delete.urcite_zmazat') }}</p>
<p>{{ trans('response.delete.komentar_ku') }}:
<a href="{{ section.statisticsPath }}">{{ section.title }}</a></p>
{% if association is not null %}
    <p>{{ trans('response.delete.vasa_funkcia') }}: {{ association }}</p>
{% endif %}
<p>{{ trans('response.delete.text_komentaru') }}:</p>
<p>{{ responseText|escape|replace({"\n": "<br />"})|raw }}</p>
<form action="{{ submitLink }}" method="POST">
<button type="submit">{{ trans('response.delete.zmazat') }}</button>
<a href="{{ section.statisticsPath }}">{{ trans('response.delete.nezmazat') }}</a>
</form>
{% endblock %}
